In [116]:
import pandas as pd

In [117]:
df = pd.read_csv("survey_data_cleaned_ver2.csv")

In [124]:
def transform_df(df, list_2, column_2, list_1, column_1='Respondent'): 

    for ind in df.index:
    
        elements = df[column_2][ind].split(';')
        num_of_elements = len(elements)

        for num in range(num_of_elements):
            list_1.append(df['Respondent'][ind])

        for el in elements:
            list_2.append(el)

In [119]:
df_LanguageWorkedWith = df[['Respondent', 'LanguageWorkedWith']]
df_LanguageWorkedWith.dropna(subset='LanguageWorkedWith', inplace=True)
df_LanguageWorkedWith

C:\Users\krzys\AppData\Local\Temp\ipykernel_15232\492316157.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_LanguageWorkedWith.dropna(subset='LanguageWorkedWith', inplace=True)

       Respondent                                 LanguageWorkedWith
0               4                                C;C++;C#;Python;SQL
1               9  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
2              13  Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
3              17  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Type...
4              19         C#;HTML/CSS;Java;JavaScript;SQL;TypeScript
...           ...                                                ...
10315       25136                 C#;F#;HTML/CSS;Java;JavaScript;SQL
10316       25137                        HTML/CSS;JavaScript;PHP;SQL
10317       25138  Assembly;Bash/Shell/PowerShell;C;C++;C#;Java;J...
10318       25141  Bash/Shell/PowerShell;C++;C#;HTML/CSS;Java;Jav...
10319       25142  Bash/Shell/PowerShell;C;C++;Go;HTML/CSS;PHP;Py...

[10310 rows x 2 columns]

In [120]:
Respondent_As_List = []
LanguageWorkedWith_As_List = []

In [121]:
transform_df(df_LanguageWorkedWith, LanguageWorkedWith_As_List, 'LanguageWorkedWith', Respondent_As_List)

In [122]:
df_Respondent = pd.DataFrame(Respondent_As_List, columns=["Respondent"])
df_LanguageWorked = pd.DataFrame(LanguageWorkedWith_As_List, columns=["LanguageWorkedWith"])

df_LanguageWorkedWith_final = pd.concat([df_Respondent, df_LanguageWorked], axis=1)
df_LanguageWorkedWith_final

       Respondent LanguageWorkedWith
0               4                  C
1               4                C++
2               4                 C#
3               4             Python
4               4                SQL
...           ...                ...
53948       25142                 Go
53949       25142           HTML/CSS
53950       25142                PHP
53951       25142             Python
53952       25142                  R

[53953 rows x 2 columns]